<h1>Atendimentos</h1>

<label for="placa">Busca por Placa:</label>
<input type="text" id="placa" name="placa">
<button id="buscar">Buscar</button>

<table>
    <thead>
        <tr>
            <th>Placa</th>
            <th>Modelo</th>
            <th>Marca</th>
            <th>Descrição</th>
            <th>Valores</th>
        </tr>
    </thead>
    <tbody id="corpo">
        
    </tbody>
</table>

<script src="/js/atendimentos/listar.js"></script>